.navbar-inverse {
	border-radius: 1px;
}
.nav.navbar-nav li a {
	color:white;
	padding-top: 22px;
}
.nav.navbar-nav li a:hover {
	color:#bd1f3a;
}
.nav.navbar-nav.nav-1 li {
	border-bottom:1px solid gray;
}
.navbar-header img {
	margin-left: -15px;
}
.navbar-right{
	color:white;
	padding-top: 22px;
	padding-right: 10px;	
}
.navbar-right a {	
	color:red;
}
.navbar-default{
	z-index: 1;
	opacity: 0.7;
}
.nav.navbar-nav.nav-2 li:nth-child(2) {
	padding-top:20px;
	font-size: 20px;
}
.nav.navbar-nav.nav-2 li:nth-child(4) {
	padding-top:20px;
	font-size: 20px;
}
.nav.navbar-nav.nav-2 {
	display:inline-flex;
		padding-top: 55px;
		padding-left: 55px;
}
.nav.navbar-nav.nav-2 li a {
	color:black;
}
.row.row-1{
	color:#656565;
}
.navbar-collapse ul li a:hover {
	border-top: 4px solid #bd1f3a;
}
.navbar-collapse ul li a:visited {
	border-top: 4px solid #bd1f3a;
}
@media screen and (max-width: 767px)
{     
	.nav.navbar-nav.nav-2 {
	
	
		padding-left:20px;
}
	.row.row-1{
		margin-left:-48px;
	}
	.navbar-collapse ul li a:hover {
	border-top:none;
}
.navbar-header img {
	margin-left:0px;
}
.navbar-collapse {
	font-size: 20px;
	position:absolute;
	z-index: 1;
	background:black;
	right:15px;
	left:191px;
	margin-right: 80px;
	padding-left: 20px;
}
.nav.navbar-nav.nav-1 li a::before {
	content:"\2192";
	padding-right: 8px;
	color:gray;
	font-size: 22px;
}
.nav.navbar-nav li:nth-child(6) a::before {
	visibility:hidden;

}
}
.ul-sort {
	list-style: none;
	display: inline-flex;

}
.ul-sort li a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color:black;
}
.ul-sort li a:hover {
	color:red;
}
.border-bottom:hover {
	border-bottom:3px inset red;
}
.ul-sort li:nth-child(1) {
	margin-left: -40px;
}
@media screen and (max-width: 767px) {
	.ul-sort,.sort {
	display:none;
}
.glyphicon.glyphicon-chevron-down {
	padding-left: 60px;
	vertical-align: middle;
}
.dropdown-menu {
	margin-left: 53px;
}
}
@media screen and (min-width: 767px) {
   .dropdown{
   	display:none;
   }
   .nav.navbar-nav.nav-1 li {
	border-bottom:none;
}
}
.row.row-2 {
	display:flex;
}
@media screen and (max-width: 767px) {
	.row.row-2{
	display:block;
}
.row.row-1,.row.row-2{
	padding-left:0px !important;
}
}
.panel-body {
	padding: 0;
	margin:0;
	}
.img-responsive {
	width:100%;
}	
.set-text {
	font-size: 13px;
	color:gray;
	font-weight: bold;
}
.panel-footer {
	padding-bottom:1px;
	background-image:url("right1.png");
	background-repeat: no-repeat;
	 background-position:95% 50%;
}
.panel-footer a {
	 text-decoration: none;
	 color:black;
}
.row.row-1,.row.row-2{
	padding-left: 100px;
}

.patterns{
	background-image:linear-gradient(to bottom right,rgba(3,119,99,0.6),rgba(98,130,7,0.6)),url("pattern-portfolio.jpg");
    background-repeat: no-repeat;
    background-size:100% 611px;
    padding-bottom: 100px;
    margin-top: -160px;
}
.item img{
	position: relative;
	margin-bottom: -207px;
    margin-top:42px;
}
@media screen and (max-width: 767px){
	.item img{
	
	margin-bottom: -147px;
    margin-top:315px;
}
.control-image{
	display:none;
}
.col-md-8.h1 h1{
	padding-bottom: 50px;
}
}
.row.row-menu{
	margin-top: -130px;

}
.col-md-8.h1 h1:after{
	content: "iOS App";
	color: red;
	padding-left:5px;
	font-size: 18px;

}
.control-image {
	float:right;
	position: relative;
	top:-45px;
	
}
.control-image img {
	margin-left: 10px;
	margin-right: 10px;

	
}
.line{
	color:gray;
	font-size: 20px;
}
.row.row-content{
	margin-top: -40px;
	background-color:#f9f9f9;
	padding-bottom: 80px;
}
.col-md-6.col-content{
	padding-top: 40px;
	
	color:#333333;
}
.col-md-2.emp-detail{
	height:320px;
	background-image: url("pattern.png");
    background-repeat: repeat;
    color:white;
    text-align:center;
    padding-bottom: 100px;

}
.col-xs-2.pattern{
	position:relative;
	height:8px;
	background-image: url("PATTERN1.png");
	top:319px;
	right:8.35%;
	transform:translate(-50%,0);
	
}
.btn.btn-default.movie a{
	color:white;
}
.btn.btn-default.movie{
	background-color:#a80d1e;
	border:none;
}
.movie{
	padding-right: 10px;
	font-size: 13px;
}
@media screen and (max-width: 767px)
{
	.col-md-2.emp-detail{
		margin-left: 0px;
	}
	.col-md-6.col-content{
		padding-bottom: 30px;
		font-size: 18px;
		color:gray;
		font-weight:-3px;
	}
	.col-xs-2.pattern{
		margin-top: -1px;
	width:100%;
	left:50%;
	transform:translate(-50%,0);
	top:0px;
	right:0px;
	
}
}
@media screen and (max-width: 991px){
	.col-xs-2.pattern{
		margin-top: -1px;
	width:100%;
	left:50%;
	transform:translate(-50%,0);
	top:0px;
	right:0px;
}
.row.row-menu{
	margin-top: -110px;

}
.row.row-footer{
	margin-top:-85px; 
}
}
@media screen and (min-width: 767px){
	.row.row-menu-mob{
		display:none;
	}
}
@media screen and (max-width: 767px){
.row.row-menu-mob{
	background-color:#f9f9f9;
	width:100%;
	display: flex;
	padding-bottom: 20px;
	margin-top: -50px;
}
.col-md-4{
	width:33.33%;
}
.row.row-footer{
	margin-top:1px; 
}
}












	.row-footer{
  padding-top: 10px;
    display:flex;
    background-color:#e4e4e4;   
}

.col-md-4.front {
  width:33.33%;
  text-align:right;
}
.col-md-4.middle{
	width:33.33%;
	text-align: center;
}
.col-md-4.last{
  width:33.33%;
  text-align:left;
}
@media screen and (max-width: 767px)
{
	.row-footer{
		 padding-bottom: 100px;
	}
	.col-md-4.last{
		display:none;
	}
	.col-md-4.front{
    width:50%;
    display:inline-block;
  }
	.col-md-4.middle{
		width:50%;
		display:inline-block;
		text-align: center;
	}
}
.hexagon{
  position:relative;
}
.text-image1{
	position:relative;
	bottom:130px;
  right:30px;
	font-size: 18px;
}
.logo1{
	position:relative;
   right:50px;
	bottom:115px;
}
.text-image{
  position: relative;
  bottom:130px;
  font-size: 18px;
}
.logo{
  position: relative;
  bottom:115px;

}
.text-image2{
  position: relative;
  bottom:130px;
  font-size: 18px;
  margin-left:37px;
}
.logo2{
  position: relative;
  bottom:115px;
  margin-left:15px;
}
.logo-inner2{
	list-style: none;
	display: inline-flex;
  text-align: center;
}
.logo-inner2 li a{
	text-decoration: none;
	color:white;
	font-weight: bold;
}
.fb{
    width:35px;
    height:35px;
    background-color: #0380b9;
    border-radius: 50%;
    line-height: 32px;
    color: white;
    font-size: 22px;
    margin-left: -40px;
}

.tw{
    width:35px;
    height:35px;
    background-color: #00a8c0;
    border-radius: 50%;
    line-height: 32px;
    color: white;
    font-size: 22px;
    margin-left: 10px;
}
.go{
    width:35px;
    height:35px;
    background-color: #c72707;
    border-radius: 50%;
    line-height: 32px;
    color: white;
    font-size: 22px;
    margin-left: 10px;
}
.col-md-12{
	width:100%;
	text-align:center;
}
@media screen and (min-width:767px)
{
	.col-md-12.mob-last{
		display:none;
	}
}
@media screen and (max-width:767px)
{
.col-md-12.mob-last h2,.col-md-12.mob-last img,.navbar-right{
	display:none;
}

.col-md-12.mob-last{
	margin-top:-30px;
}
.text-image-mob{
	position: relative;
	bottom:130px;
	font-size: 28px;

}
}
.row.row-footer1{
	display:flex;
    background-color:#e4e4e4;

}
.col-xs-8 {
	border-top:1px solid gray;
	padding-top: 20px;
	 padding-bottom: 25px; 
}
.footer-text{
	position:absolute;
	margin-top: 5px;
	padding-left: 10px;

}
.col-xs-8 a{
	float:right;
}
@media screen and (max-width: 767px)
{
	.col-xs-8 img{
		display:none;
	}
	.footer-text{

		position:absolute;
        left:40%;
        transform: translate(-20%,0);
		bottom: 115px;
	}
	.col-xs-8{
		border-top:none;
	}
	.row.row-footer1{
    background-color:#e4e4e4;
	 
	}
	
}
.le-left-arrow {
	z-index: 1;
height:50px;
width:50px;
border-radius: 50%;
font-size: 40px;
background-color: white;
color:red;
position:absolute;
top:340px;
left:5%;
transform: translate(-50%,0);
font-weight: bold;
display:flex;
align-items: center;
justify-content: center;
}
.ri-right-arrow{
z-index: 1;
height:50px;
width:50px;
border-radius: 50%;
font-size: 40px;
background-color: white;
color:red;
font-weight: bold;
position:absolute;
top:340px;
left:95%;
transform: translate(-50%,0);
display:flex;
align-items: center;
justify-content: center;
}

@media screen and (max-width: 767px){
.le-left-arrow{
top:360px;
left:8%;
}	
.ri-right-arrow{
top:360px;
left:92%;	
}
}
